@{
    ViewBag.Title = "Audio";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@model List<DBC.WeChat.Models.Conversation.AudioResource>
@section Css{

    <link rel="stylesheet" href="~/Content/sw/sw.css">
    <link rel="stylesheet" href="~/Content/css/material.css">
}
@section Script
{
    <script type="text/javascript" src="~/Content/Libraries/jQuery/jquery.form.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/Resource/Audio.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/Resource/Resource.js"></script>
    <script type="text/javascript"
        src="~/Content/Libraries/jQuery/jquery.unobtrusive-ajax.min.js"></script>
}
<div class="pg_cu">
    @Html.ActionLink("图文", "News", "Resource", null, null)
    @Html.ActionLink("图片", "Picture", "Resource", null, null)
    @Html.ActionLink("音频", "Audio", "Resource", null, new { @class = "cur" })
    @Html.ActionLink("视频", "Video", "Resource", null, null)
</div>
<div class="material_management">
    <div class="text_message">
        @using (Html.BeginForm("CreateAudio", "Resource", FormMethod.Post, new { id = "filePostForm", enctype = "multipart/form-data" }))
        {
            <div class="rl_count">
                <span class="rl_cbtn">
                    <input type="file" name="audioResource" id="audioResource" />上传</span>
                大小：不超过256K， 长度：不超过60s， 格式：mp3、amr
            </div>
        }

        @using (Ajax.BeginForm("AjaxAudioQuery", "Resource", null, new AjaxOptions()
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "Audio",
        OnSuccess = "QuerySuccess",
    }, new { ID = "queryForm" }))
        {
            <div>
                @Html.Partial("Resource/AudioQuery", ViewData["Query"])
            </div>
            <div id="Audio">
                 @Html.Partial("Resource/AudioList", Model)
            </div>
        }
    </div>
</div>
